<div>
<header class="major">
    <h1>Roadmap</h1>
</header>

<p>Hey,

<br><br> The Data Sutram team congratulates for coming this far. This is to familiarize you with how Data Sutram functions and how you can be a part of the team.

<br><br> We would be offering paid-internships and other goodies like training from <b>Julia computing</b>, <b>Certification for projects you have worked on</b> this summer once you pass this phase.

<br><br> We have uploaded a series of projects <a href="{{ "/projects/" | absolute_url }}">here</a>

<br><br> Go through all the projects, choose the ones you want to work on (single or multiple) and at the end of every project there is a form, fill it up from under any one of them. You will be <b>emailed a Company ID</b>(you are advised keep it private).

<br><br> Each project has <b>maximum points</b> and a <b>stipulated time</b> attached to it. The points you score from a project depends on two things.
<br>&nbsp &nbsp 1. The accuracy of your solution
<br>&nbsp &nbsp 2. the time you take to come up with it.

<br><br> Through out the process of working for the project you will be guided by a member of the Data Sutram team, and a campus manager. Feel free to contact any of us with problems you may be facing.

<br><br> We would be offering <b>part-time jobs/internships</b> for the <b>top 25 candidates</b> who pass the trial phase.<br>
May the odds be ever in your favor.<br>
Regards,<br>
Data Sutram</p>
</div>
